@model molitec.Data.Descarga

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Descarga</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FArribo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FArribo" class="form-control" />
                <span asp-validation-for="FArribo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FDescarga" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FDescarga" class="form-control" />
                <span asp-validation-for="FDescarga" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Turno" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Turno" class="form-control" />
                <span asp-validation-for="Turno" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="HoraDescarga" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="HoraDescarga" class="form-control" />
                <span asp-validation-for="HoraDescarga" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Bruto" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Bruto" class="form-control" />
                <span asp-validation-for="Bruto" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Tara" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Tara" class="form-control" />
                <span asp-validation-for="Tara" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Neto" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Neto" class="form-control" />
                <span asp-validation-for="Neto" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="HoraArribo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="HoraArribo" class="form-control" />
                <span asp-validation-for="HoraArribo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Observacion" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Observacion" class="form-control" />
                <span asp-validation-for="Observacion" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

